:root{
    --main--color: #fffef8;
    --category--color: #F8F4EC;
    --black--color: #000000;
    --white--color: #FFFFFF;
}
* {
    box-sizing: border-box;
}
body {
    /* background-color: var(--main--color); */
    background-image: linear-gradient(to bottom, var(--main--color), #ffeede);
}
.img-logo{
    max-height: 22px;
    width: auto;
    margin-right: 16px;
}

.search-navbar {
    /* margin: 0 16px 0 16px; */
    background-color: var(--main--color);
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid rgb(85, 83, 83);
}
.name-navbar {
    /* margin-top: 10px; */
    font-weight: 500;
}
.divide {
    opacity: 0.1;
}
/* .button-cart {
    justify-content: center;
    margin-left: 16px;
} */
.space-- {
    margin-left: 20px;
}
.fix-icons {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.55);
}

.color-items {
    background-color: var(--main--color);
    border-color: var(--main--color);
}
.header {
    margin-top: 15px;
}
.navbar-brand {
    padding-top: 0;
}
.img-content {
    margin-top: 18px;
    width: 100%;
    /* max-height: 720px; */
    height: auto;
    text-align: center;
    margin-bottom: 32px;
}
.content {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.content-welcome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
}
.content-fashion {
    margin-top: 1.2rem;
    font-size: 18px;
}
.content-learn-more {
    margin-top: 2.8rem;
}
.categories-text {
    margin-top: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: center;
}
.space-cate {
    margin-top: 2rem;
    /* justify-content: space-between; */
}
.color-card {
    background-color: var(--category--color);
    /* border-color: var(--black--color); */
}
.img-card-cate {
    max-width: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 16px;    
}
.card {
    margin-left: auto;
    margin-right: auto;
}
.hr-text {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #212529;
    font-weight: 100;
}
.hr-product {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    color: #212529;
    font-weight: 100;
}
.card-text {
    text-align: center;
}
.fix-underline {
    text-decoration: none;
    color: #212529;
}
.fix-underline:hover{
    color: var(--black--color); 
    transform: scale(1.5);
}
.fix-img-slides {
    margin-left: auto;
    margin-right: auto;
}
.slider {
    margin-top: 20px;
}
.hr-slider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #212529;
    font-weight: 100;
    opacity: 0.08;
}
.slider-title {
    margin-top: 22px;
    width: 100%;
    max-height: 720px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}
.slider-new-arivals {
    text-decoration: underline;
    text-underline-offset: 0.15em;   
    text-align: center;
    font-size: 15px;  
    margin-bottom: 32px;
}

.backtop {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212529;
    color: var(--main--color);
    border-radius: 50px;
    position: fixed;
    bottom: 40px;
    right: 24px;
    cursor: pointer;
    z-index: 2000;
}
.best-seller-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: left;
    margin-top: 30px;
}

.center-products {
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    background-color: #F8F4EC;
    -webkit-box-shadow: -4px 6px 5px 2px rgba(0,0,0,0.2); 
    box-shadow: -4px 6px 5px 2px rgba(0,0,0,0.2);
}
.shadow {
    -webkit-box-shadow: -3px 3px 16px 3px rgba(0,0,0,0.7); 
    box-shadow: -3px 3px 16px 3px rgba(0,0,0,0.7);
    border-radius: 12px;
    /* margin-left: auto;
    margin-right: auto; */
}
.products-price {
    color: #f00202;
    /* font-size: 22px; */
    font-weight: 600;

}

.text-reset {
    list-style: none;
    text-decoration: unset;
}
.text-socials {
    font-size: 20px;
    /* margin-top: 20px; */
}
.footer {
    margin-top: 4rem;
}
.fix-padding {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--category--color);
}

/* Log in */
.btn-block {
    display: block;
    margin-top: 20px;
    /* width: 20%; */
    margin-left: auto;
    margin-right: auto;
}

/* Sign up */

/* List */
.list-shirts {
    margin-top: 3rem;
}
.checkbox {
    width: 20px;
    height: 20px;
    /* margin-top: 10px; */
}
.text-checkbox {
    margin-left: 10px;
}
.display-checkbox {
    display: flex;
}
.card-product-size {
    border-radius: 12px;
}

/* Details Product */
img {
    max-width: 100%; }
  
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; 
    } 
}
  
.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}
  
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; 
}
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; 
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; 
}
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; 
}
  
.tab-content {
    overflow: hidden; 
}
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; 
}
  
  /* .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; } */
  
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; 
    } 
}
  
.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}
  
.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}
  
.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}
.checked{
    color: #ff9f1a;
}
.price span {
    color: #f00202; 
}
  
.product-title, .rating, 
.product-description, .price, .vote, .sizes {
    margin-bottom: 15px; 
}
  
.product-title {
    margin-top: 0; 
}
  
.size {
    margin-right: 10px; 
}
.size:first-of-type {
    margin-left: 40px; 
}
  
.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; 
}
.color:first-of-type 
{
    margin-left: 20px; 
}
  
.add-to-cart, .like {
    background: #f00202;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.add-to-cart:hover, .like:hover {
    background: #af0101;
    color: #fff; 
}
  
.not-available {
    text-align: center;
    line-height: 2em; 
}
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; 
}
  
.orange {
    background: #ff9f1a; 
}
  
.green {
    background: #85ad00; 
}
  
.blue {
    background: #0076ad; 
}
.red-orange {
    background: #FF6633;
}
.black {
    background-color: #44484b;
}
  
.tooltip-inner {
    padding: 1.3em; 
}
.action {
    margin-left: auto;
    margin-right: auto;
}
  
@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); 
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); 
    } 
}
  
@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3); 
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); 
    } 
}
.avatar-comments {
    border-radius: 50%;
    width: 50px;
}